body {
    margin: 0%;
    height: 100%;
    text-transform: uppercase;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: large;
    overflow: auto;
    background-color: white;
}


.nav-bar ul {
    width: 100%;
    height: 6vh;
    margin: auto;
    max-width: 1000px;
    font-size: large;

    display: flex;
    justify-content: space-between;

    text-align: center;

    list-style-type: none;

}

.nav-bar a {
    text-decoration: none;
    color: rgb(197, 196, 196);
}

.nav-bar li {

    text-transform: uppercase;
    cursor: pointer;
    min-width: 80px;
    margin: auto;
}

.nav-bar li a:hover {
    background-color: rgba(53, 53, 53, 0.678);
    color: #ffff;
    transition-duration: 0.4s;
    border-radius: 5px;
}

li:active {
    transform: translateY(4px);
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: x-large;
    text-shadow: 1px 2px rgb(139, 139, 137);

    background-image: url("./img/hwJPG\ \(4\).jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-text {
    color: rgba(255, 255, 255, 0.842);
}


button {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 6px;

    background-color: rgb(197, 196, 196);
    color: white;
    border: none;
    border-radius: 5px;

    text-transform: inherit;
    font-size: large;

    cursor: pointer;

    transition-duration: 0.4s;
}

button:hover {
    background-color: rgba(53, 53, 53, 0.678);
}

button:active {
    transform: translateY(4px);
}

.main-container {
    padding: 15px;
    background-color: #ffff;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    background-color: rgba(235, 235, 235, 0.719);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
    align-items: center;
    width: 60%;
    padding-bottom: 70px;

}

.form-header {
    margin: 50px;
    grid-row: 1;
    grid-column: span 2;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input:focus {
    background-color: rgba(138, 138, 138, 0.932);
    color: white;
    font-size: 18px;
}

textarea:focus {
    background-color: rgba(138, 138, 138, 0.932);
    color: white;
    font-size: 18px;
}

#contact-btn,
input,
textarea {
    padding: 1.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

.polariod-img {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.polariod-container {
    display: block;
    padding: 2% 10%;
    font-size: 0.8em;
}

.polariod-img:hover {
    transition: 0.4s;
    background-color: rgba(138, 138, 138, 0.932);
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 30px;
    color: rgb(197, 196, 196);
    font-size: large;
}