body {
    margin: 0%;
    height: 100%;
    text-transform: uppercase;
    font-family: Tahoma, Verdana, sans-serif;
    overflow: hidden;
}

ul {
    width: 100%;
    height: 5vh;
    margin: auto;
    max-width: 1000px;
    font-size: x-large;

    display: flex;
    justify-content: space-between;
    
    text-align: center;

    list-style-type: none;

}

a {
    text-decoration: none;
    color: rgb(197, 196, 196);
}

li {
    
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(197, 196, 196);
    min-width: 80px;
    margin: auto;
}

li:hover{
    background-color: rgba(53, 53, 53, 0.678);
    color: white;
    transition-duration: 0.4s;
    border-radius: 5px; 
}

li:active{
    transform: translateY(4px);
}



.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: x-large;
    text-shadow: 1px 2px rgb(139, 139, 137);

    background-image: url("./img/hwJPG\ \(4\).jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-text {
    color: rgba(255, 255, 255, 0.842);
}


.hero-text button {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 6px;

    background-color: rgb(197, 196, 196);
    color: white;
    border: none;
    border-radius: 5px;

    text-transform: inherit;
    font-size: large;
    font-family: Tahoma, verdana, sans-serif;
       
    cursor: pointer;

    transition-duration: 0.4s;
}

.hero-text button:hover{
    background-color: rgba(53, 53, 53, 0.678);
}

.hero-text button:active{
    transform: translateY(4px);
}

/* .hero .hero-button {
    display: block;
    width: 200px;
    border: 3px solid white;
    color: white;
    margin-left: 20%;
} */